*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #222;
  overflow: hidden;
}

.navigation {
  height: 10rem;
  background-color: #333;
  overflow: hidden !important;
}

.navigation__nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  background-color: #333;
  list-style-type: none;
}

@media screen and (max-width: 62.5em) {
  .navigation__nav {
    height: 100%;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
}

.navigation .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

@media screen and (max-width: 62.5em) {
  .navigation .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navigation__item {
  margin: 1rem 2rem;
}

@media screen and (max-width: 62.5em) {
  .navigation__item {
    margin: 5rem 2rem;
  }
}

.navigation__link {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 400;
  color: white;
  padding: 1rem;
}

@media screen and (max-width: 62.5em) {
  .navigation__link {
    font-size: 3rem;
  }
}

.navigation__link span {
  display: none;
}

.navigation__register {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2eadd3), to(#2e96d3));
  background-image: linear-gradient(#2eadd3, #2e96d3);
  border-radius: 8px;
  padding: 1rem 2rem;
}

@media screen and (max-width: 62.5em) {
  .navigation__register {
    padding: 2rem 3.5rem;
  }
}

.menu__logo {
  width: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1.2rem;
  margin-left: 2.8rem;
}

.menu__btn {
  display: none;
  position: relative;
}

@media screen and (max-width: 62.5em) {
  .menu__btn {
    display: block;
    width: 8rem;
    height: 8rem;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1000;
  }
  .menu__btn div {
    display: block;
    width: 8rem;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu__btn div:nth-child(1) {
    width: 7rem;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 1;
  }
  .menu__btn div:nth-child(3) {
    width: 7rem;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

.show_menu {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.burger div:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-8px, 0px);
          transform: rotate(-45deg) translate(-8px, 0px);
}

.burger div:nth-child(2) {
  opacity: 0;
}

.burger div:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, 0px);
          transform: rotate(45deg) translate(-8px, 0px);
}

.login {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 70rem;
  background-color: #333;
  height: 10rem;
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  top: 12rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__span {
  position: absolute;
  right: 135px;
}

@media screen and (max-width: 62.5em) {
  .login {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
  }
}

.login__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 62.5em) {
  .login__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #222;
    width: 50%;
    height: 60%;
  }
}

@media screen and (max-width: 50em) {
  .login__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #222;
    width: 100%;
    height: 100%;
  }
}

.login__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 62.5em) {
  .login__container {
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 62.5em) {
  .login__container {
    margin: 2rem;
  }
}

.login__container label {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  color: white;
}

@media screen and (max-width: 62.5em) {
  .login__container label {
    font-size: 2rem;
    padding: 2rem 0;
  }
}

.login__container input {
  background-color: #444;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  color: #f2f2f2;
}

@media screen and (max-width: 62.5em) {
  .login__container input {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    width: 40rem;
  }
}

.login__btn {
  cursor: pointer;
  margin-left: 3rem;
  margin-right: 1rem;
}

@media screen and (max-width: 62.5em) {
  .login__btn {
    margin: 2rem 0;
  }
}

.login__btn input {
  cursor: pointer;
  padding: 1rem 2rem !important;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2eadd3), to(#2e96d3));
  background-image: linear-gradient(#2eadd3, #2e96d3);
}

@media screen and (max-width: 62.5em) {
  .login__btn input {
    padding: 2rem !important;
    margin-top: 6rem;
  }
}

.login__close {
  display: none;
}

@media screen and (max-width: 62.5em) {
  .login__close {
    display: block;
    position: absolute;
    right: 50%;
    top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    border: none;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
    width: 6rem;
    outline: none;
    cursor: pointer;
  }
  .login__close :nth-child(1) {
    -webkit-transform: rotate(45deg) translate(16px, 0px);
            transform: rotate(45deg) translate(16px, 0px);
  }
  .login__close :nth-child(2) {
    -webkit-transform: rotate(-45deg) translate(16px, 0px);
            transform: rotate(-45deg) translate(16px, 0px);
  }
  .login__close div {
    width: 100%;
    height: 0.75rem;
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    margin: 1rem 0;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.login--close {
  display: inline !important;
}

.show__login {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */